
@media (min-width: 768px) and (max-width: 1024px) {
  
  	#home{
		min-height: 525px !important;
	}
	
	#home{
		background: url('../images/backgrounds/bg_programmer-mid.jpg');
		background-position:center center;
	}




  /*
	#home h1.intro {
		margin-top: 18%;
	}
	*/
	#home h3.intro {
		margin-top: 5%;
	}      
	
	.about-us .big-intro{
		text-align: left;
	}
}


@media (max-width: 800px) {
 
 
 
 	#home h3.intro {
		margin-top: 10px;
		margin-bottom:5%;
	}
	
	#home{
		background: url('../images/backgrounds/bg_programmer-sml.jpg');
		background-position:center center;
	}
    
    .intro{
    	line-height: 1em
    }
    
	.header{
		min-height: 150px!important;	
	}
	
	.about-us .big-intro{
		text-align: left;
	}
	
	#the-course .intro{
		font-size:20px;
		margin-bottom:20px;
		margin-top:20%;
	}

    .bs-navbar-collapse {
		border: 0;
	}

	.navbar-inverse .navbar-nav {
		padding-left: 10px;
		line-height: normal;
		text-align: center;
	}

	.navbar-inverse .navbar-nav>li {
		display: inline-block;
		margin-bottom: 0;
	}
  
}

@media (max-width: 480px) {
 

/* HOME */
	html {
        font-size: 70%;
    }
    
    #home{
		background: url('../images/backgrounds/bg_programmer-x-sml.jpg');
		background-position:center center;
	}
    
	
	
	.responsive-logo img {
        width: 70%;
    }
 
    
    #main-nav {
        min-height: 50px;
    }
    
    #home h1{
    	font-weight:bold;
    	
    }
    
    #home h3{
    	font-size:1.8rem;
    }
	
	.intro {
		line-height: 2.4rem !important;
		font-size: 2.2rem;
	}
	
    .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us {
		padding-top: 60px;
	}
	
    .buttons {
	    margin-bottom: 0;
	    margin-top: 30px;
	}
     
    .custom-button {
        padding: 10px 18px;
    }   
    
    h1 {
        font-weight: normal;
    }
    
	h2 {
		font-size: 6.5vw !important;
	}
	
	 h3 {
        font-size: 1.7rem;
    }

	.other-focus-list ul li {
		display: block;
		text-align: left;
		margin-right: 0;
	}
}

@media (max-width: 320px) {
    
    html {
        font-size: 62.5%;
    }
    
  
    
    
    body {
        font-size: 1.3rem;
    }
    
   /* .focus,.works,.about-us,.features, .our-team,.packages,.products .color-overlay,.testimonial,.contact-us {
		padding-top: 50px;
	}*/
    
    .page_intro h1 {
        font-weight: normal;
        font-size: 3em;
    }
    
    h3 {
        font-size: 1.7rem;
    }
    
     /* GENERIC */
	.page_intro h1{
		margin-top: 90px;
		margin-bottom: 10px
	}
	
	
	#home h1{
		margin-top:40%;	
	
	}
	    
    .intro {
		line-height: 3.1rem !important;
		font-size: 2.1rem;
	}
		

	.client-list ul li {
		display: block;
	}
}